@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

a:focus {
  outline: thin dotted;
}
a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "“" "”" "‘" "’";
}

small {
  font-size: 80%;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  max-width: 100%;
  height: auto;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix {
  zoom: 1;
}
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

html {
  font-family: sans-serif;
  line-height: 1;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
}

body {
  background: url("../img/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Microsoft JhengHei";
}

.container-fluid {
  display: grid;
  grid-template-columns: 44% 54%;
  grid-template-rows: 100vh;
  grid-column-gap: 2%;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  padding: 0;
  margin: 0;
}

.intro {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  color: white;
}
.intro p {
  line-height: 2;
  letter-spacing: 2px;
  font-size: 22px;
  font-weight: 600;
}

.r_area {
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 40% 10% 10% 10% auto;
  justify-items: center;
  align-items: center;
  text-align: center;
}
.r_area .title {
  align-self: end;
}
.r_area .title img {
  margin-left: -10px;
  width: 50%;
  height: 50%;
  min-width: 150px;
  min-height: 30px;
}
.r_area .hint {
  align-self: start;
  margin-top: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: 31% 69%;
  grid-template-rows: auto;
}
.r_area .hint p {
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  color: #335A63;
}
.r_area .hint .left {
  justify-self: end;
}
.r_area .hint .right {
  justify-self: start;
  text-align: left;
}
.r_area .btn_start {
  width: 40%;
  height: 58px;
  min-width: 130px;
  background-color: white;
  border: #dee2e6 1px solid;
  color: #335A63;
  align-self: end;
}
.r_area .btn_start:hover {
  background-color: #335A63;
  color: white;
}
.r_area .btn_start h3 {
  font-size: 25px;
  font-weight: 600;
}

.q_card {
  position: fixed;
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: auto;
  width: 600px;
  height: 95%;
  background: url("../img/bg.jpg");
  background-position: -200px 0px;
  background-size: 340%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  margin-left: 50%;
  bottom: -900px;
  overflow: hidden;
  transition: 0.5s cubic-bezier(0.6, 0, 0.3, 1);
  justify-items: center;
  align-items: center;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.75);
}
.q_card.active {
  bottom: 25px;
}
.q_card .title_card {
  align-self: end;
}
.q_card .title_card h3 {
  font-size: 80px;
  font-weight: 500;
  color: white;
}
.q_card .q_input {
  text-align: left;
  line-height: 3;
  font-weight: 500;
}
.q_card .q_input label {
  font-weight: 600;
  font-size: 20px;
  color: white;
}
.q_card .q_input input {
  height: 40px;
  font-size: 18px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.q_card .q_input .dowhat {
  margin-top: 20px;
}
.q_card .bottom_card {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 50% 50%;
  grid-auto-rows: auto;
  justify-items: center;
  align-items: center;
}
.q_card .bottom_card .btn_bottom {
  width: 45%;
  height: 30%;
}
.q_card .bottom_card .btn_bottom button {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.q_card .bottom_card .btn_bottom button p {
  font-weight: 600;
  font-size: 20px;
}
.q_card .bottom_card .btn_bottom .btn_cancel {
  background-color: white;
  color: #335A63;
}
.q_card .bottom_card .btn_bottom .btn_cancel:hover {
  background-color: #335A63;
  color: white;
}
.q_card .bottom_card .btn_bottom .btn_confirm {
  background-color: #7C9640;
  color: white;
}
.q_card .bottom_card .btn_bottom .btn_confirm:hover {
  background-color: white;
  color: #7C9640;
}

.ans_card {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 80% 20%;
  position: fixed;
  width: 100%;
  height: 100%;
  top: -100%;
  background-color: rgba(41, 43, 37, 0.85);
  color: white;
  text-align: center;
  justify-items: center;
  align-items: center;
  z-index: 1;
  transition: 0.5s cubic-bezier(0.6, 0, 0.3, 1);
}
.ans_card.active {
  top: 0;
}
.ans_card .answer p {
  color: white;
  font-size: 25px;
  font-weight: 500;
}
.ans_card .btn_answer {
  display: grid;
  grid-template-columns: 30% 30%;
  width: 100%;
  height: 40%;
  justify-content: center;
  align-self: start;
  justify-items: center;
  align-items: center;
  color: #335A63;
}
.ans_card .btn_answer button {
  width: 50%;
  height: 100%;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: white;
  color: #335A63;
}
.ans_card .btn_answer button p {
  font-size: 20px;
  font-weight: 600;
}
.ans_card .btn_answer button:hover {
  background-color: #335A63;
  color: white;
}

@media only screen and (max-width: 1080px) {
  .r_area .hint {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  .r_area .hint .left {
    justify-self: center;
  }
  .r_area .hint .right {
    justify-self: center;
  }
}
@media only screen and (max-width: 768px) {
  .container-fluid {
    grid-template-columns: 35% 63%;
  }

  .intro p {
    font-size: 16px;
  }

  .r_area .hint p {
    font-size: 16px;
  }
  .r_area .btn_start {
    height: 60%;
  }
  .r_area .btn_start h3 {
    font-size: 20px;
  }

  .q_card {
    width: 95vw;
    margin-left: 2.5%;
  }
  .q_card .q_input {
    width: 80%;
  }

  .ans_card .btn_answer button {
    width: 80%;
    height: 80%;
  }
  .ans_card .btn_answer button p {
    font-size: 15px;
  }
}
@media only screen and (max-width: 480px) {
  body {
    background-position: left top;
    background-size: 284% 50%;
    background-attachment: scroll;
    width: 100vw;
  }

  .container-fluid {
    grid-template-columns: auto;
    grid-template-rows: 100vh 100vh;
  }

  .q_card {
    background-size: 500%;
  }
  .q_card .title_card h3 {
    font-size: 60px;
  }
  .q_card .q_input {
    width: 70%;
  }
  .q_card .bottom_card .btn_bottom {
    width: 45%;
    height: 40%;
  }
  .q_card .bottom_card .btn_bottom button p {
    font-size: 16px;
  }
}
