$width : 960px
$height : 760px
$bg:(bg: white, color: #335A63, border: #dee2e6)
@import reset
@import compass/css3
@import mixin


body
    background: url("../img/bg.jpg")
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    background-attachment: fixed
    font-family: "Microsoft JhengHei"

.container-fluid
    display: grid
    grid-template-columns: 44% 54%
    grid-template-rows: $height
    grid-column-gap: 2%
    justify-content: space-between
    align-items: center
    justify-items: center
    padding: 0
    margin: 0

.intro
    display: grid
    grid-template-columns: auto
    grid-template-rows: auto
    justify-items: center
    align-items: center
    color: map-get($bg, bg)
    p
        line-height: 2
        letter-spacing: 2px
        font-size: 22px
        font-weight: 600
    // img
    //     width: 70%
    //     height: 70%
    //     min-width: 250px
    //     min-height: 65px

.r_area
    height: 100%
    display: grid
    grid-template-columns: 100%
    grid-template-rows: 40% 10% 10% 10% auto
    justify-items: center
    align-items: center
    text-align: center
    .title
        align-self: end
        img
            margin-left: -10px
            width: 50%
            height: 50%
            min-width: 225px
            min-height: 53px
    .hint
        align-self: start
        img
            margin-top: 20px
            width: 70%
            height: 70%
            min-width: 270px
            min-height: 13px
    .btn_start
        width: 40%
        height: 58px
        min-width: 130px
        font-size: 25px
        background-color: map-get($bg, bg)
        border: map-get($bg, border) 1px solid
        color: map-get($bg, color)
        align-self: end
        &:hover
            background-color: map-get($bg, color)
            color: map-get($bg, bg)
        h3
            font-weight: 600
.q_card
    position: fixed
    display: grid
    grid-template-columns: 100%
    grid-auto-rows: auto
    width: 600px
    height: 95%
    background: url("../img/bg.jpg")
    background-position: -200px 0px
    background-size: 340%
    background-repeat: no-repeat 
    margin-left: 50%
    bottom: -800px
    overflow: hidden
    transition: 0.5s cubic-bezier(.60,0,.30,1)
    justify-items: center
    align-items: center
    +border-radius(10px)
    +box-shadow(10px 10px 10px 0px rgba(0,0,0,0.75))
    &.active
        bottom: 25px
    .title_card
        align-self: end
        h3
            font-size: 80px
            font-weight: 500
            color: white
    .q_input
        text-align: left
        line-height: 3
        font-weight: 500
        label
            font-weight: 600
            font-size: 20px
            color: white
        input
            height: 40px
            font-size: 18px
            +border-radius(10px)
        .dowhat
            margin-top: 20px
    .bottom_card
        display: grid
        width: 100%
        height: 100%
        grid-template-columns: 50% 50%
        grid-auto-rows: auto
        justify-items: center
        align-items: center
        .btn_bottom
            width: 45%
            height: 30%
            button
                +border-radius(10px)
                width: 100%
                height: 100%
                p
                    font-weight: 600
                    font-size: 20px
            .btn_cancel
                background-color: map-get($bg, bg)
                color: map-get($bg, color)
                &:hover
                    background-color: map-get($bg, color)
                    color: map-get($bg, bg)
            .btn_confirm
                background-color: #7C9640
                color: map-get($bg, bg)
                &:hover
                    background-color: map-get($bg, bg)
                    color: #7C9640
            
.ans_card
    display: grid
    grid-template-columns: 100%
    grid-template-rows: 80% 20%
    position: fixed
    width: 100%
    height: 100%
    top: -100%
    background-color: rgba(41, 43, 37, 0.85)
    color: map-get($bg, bg)
    text-align: center
    justify-items: center
    align-items: center
    z-index: 1
    transition: 0.5s cubic-bezier(.60,0,.30,1)
    &.active
        top: 0
    .answer
        p
            color: map-get($bg, bg)
            font-size: 25px
            font-weight: 500
    .btn_answer
        display: grid
        grid-template-columns: 30% 30%
        width: 100%
        height: 40%
        justify-content: center
        align-self: start
        justify-items: center
        align-items: center
        color: map-get($bg, color)
        button
            width: 50%
            height: 100%
            +border-radius(10px)
            background-color: map-get($bg, bg)
            color: map-get($bg, color)
            p
                font-size: 20px
                font-weight: 600
            &:hover
                background-color: map-get($bg, color)
                color: map-get($bg, bg)

@import layout